*{
  font-family: 'Roboto', sans-serif;
}
.list_container {
  width: 40%;
  margin: 20px;

  border: 1px solid rgba(161, 161, 161, 0.5)
}
.ul_container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  top: 25%;
  width: 75%;
  margin: 5% auto 0 auto;
  box-shadow: 0 0 5px rgba(207, 207, 207, 0.73);
  background: #fff;
}
body {
background: rgba(255, 250, 140, 0.36) !important;
}
.more{

  width: 50%;
  height: 100%;

}
